
PAT1 -> CHS
P1F3 -> CHS
P1F3 -> LHY
P1F3 -> CAB1
P1F3 -> RBCS1A
APRR -> LHY
GI -> LHY
LHY -> GBSS
LHY -> CAT3
STO -> CHS
HOG1 -> CHS
CAT3 -> RCD1
DND1 -> RCD1

